.html
{
	background: #7F7F7F url("../images/gaussian-blur-abstract-hd-wallpaper-1920x1200-10432.jpg") no-repeat right center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 548px;
	padding-bottom: 36px;
	margin-left: auto;
	margin-right: auto;
}

#pu272-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 20px;
}

#u272-3
{
	z-index: 2;
	width: 241px;
	min-height: 541px;
	margin-right: -10000px;
	margin-top: 6px;
}

#menuu193
{
	z-index: 5;
	width: 241px;
	margin-right: -10000px;
	margin-top: 116px;
}

#u217
{
	width: 241px;
}

#u218
{
	width: 241px;
	min-height: 22px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u218:hover
{
	margin: 0px -10000px 0px 0px;
}

#u218:active
{
	margin: 0px -10000px 0px 0px;
}

#u220-4
{
	width: 241px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u218:hover #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u218:active #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u235
{
	width: 241px;
	min-height: 22px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u218.MuseMenuActive,#u235:hover
{
	margin: 0px -10000px 0px 0px;
}

#u235:active
{
	margin: 0px -10000px 0px 0px;
}

#u237-4
{
	width: 241px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u218.MuseMenuActive #u220-4,#u235:hover #u237-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u235:active #u237-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u242
{
	width: 241px;
	min-height: 22px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u235.MuseMenuActive,#u242:hover
{
	margin: 0px -10000px 0px 0px;
}

#u242:active
{
	margin: 0px -10000px 0px 0px;
}

#u245-4
{
	width: 241px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u235.MuseMenuActive #u237-4,#u242:hover #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u242:active #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u249
{
	width: 241px;
	min-height: 22px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u242.MuseMenuActive,#u249:hover
{
	margin: 0px -10000px 0px 0px;
}

#u249:active
{
	margin: 0px -10000px 0px 0px;
}

#u251-4
{
	width: 241px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u242.MuseMenuActive #u245-4,#u249:hover #u251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u249:active #u251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u256
{
	width: 241px;
	min-height: 22px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u249.MuseMenuActive,#u256:hover
{
	margin: 0px -10000px 0px 0px;
}

#u256:active
{
	margin: 0px -10000px 0px 0px;
}

#u257-4
{
	width: 241px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u249.MuseMenuActive #u251-4,#u256:hover #u257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u256:active #u257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u234,#u241,#u248,#u255,#u262
{
	width: 241px;
	margin-top: 2px;
}

#u265
{
	width: 241px;
	min-height: 22px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u256.MuseMenuActive,#u265:hover
{
	margin: 0px -10000px 0px 0px;
}

#u265:active
{
	margin: 0px -10000px 0px 0px;
}

#u265.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u268-4
{
	width: 241px;
	min-height: 22px;
	margin-right: -10000px;
	top: 11px;
}

#u256.MuseMenuActive #u257-4,#u265:hover #u268-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u265:active #u268-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u265.MuseMenuActive #u268-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u284-4
{
	z-index: 42;
	width: 116px;
	min-height: 55px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#u285
{
	z-index: 46;
	width: 99px;
	margin-right: -10000px;
	margin-top: 403px;
	left: 71px;
}

#u285_img
{
	padding-bottom: 1px;
}

#u303-6
{
	z-index: 48;
	width: 109px;
	min-height: 43px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 114px;
}

#u328-4
{
	z-index: 54;
	width: 123px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 511px;
	left: 59px;
}

#pu401
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 324px;
}

#u401
{
	z-index: 58;
	width: 616px;
}

#u413
{
	z-index: 65;
	width: 30px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 16px;
}

#u402-4
{
	z-index: 59;
	width: 138px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 54px;
}

#u408
{
	z-index: 63;
	width: 32px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 511px;
}

#u419
{
	z-index: 67;
	width: 24px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 551px;
}

#u425
{
	z-index: 69;
	width: 29px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 582px;
}

#pu708
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 5px;
	position: relative;
}

#u708
{
	z-index: 71;
	width: 616px;
	-pie-box-shadow: 4px 4px 5px #E5E5E5;
	-moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
	border-color: #000000;
	background-color: #4F4F4F;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u703
{
	z-index: 72;
	width: 598px;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u703_clip
{
	overflow: hidden;
	width: 598px;
	height: 499px;
}

#u703_img
{
	margin: -10px -4px -13px -3px;
}

#u711-4
{
	z-index: 74;
	width: 47px;
	min-height: 33px;
	font-size: 10px;
	color: #838282;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 62px;
}

#u712-4
{
	z-index: 78;
	width: 89px;
	min-height: 14px;
	font-size: 10px;
	color: #838282;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 183px;
}

#u713-4
{
	z-index: 82;
	width: 77px;
	min-height: 33px;
	text-align: right;
	font-size: 10px;
	color: #838282;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 407px;
}

#u714-4
{
	z-index: 86;
	width: 77px;
	min-height: 33px;
	text-align: right;
	font-size: 10px;
	color: #838282;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 452px;
	left: 453px;
}

#u715-8
{
	z-index: 90;
	width: 60px;
	min-height: 33px;
	text-align: right;
	font-size: 10px;
	color: #838282;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 228px;
}

#u716-8
{
	z-index: 98;
	width: 60px;
	min-height: 25px;
	text-align: center;
	font-size: 10px;
	color: #838282;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 553px;
}

#u717-6
{
	z-index: 106;
	width: 47px;
	min-height: 26px;
	text-align: center;
	font-size: 10px;
	color: #838282;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 272px;
}

body
{
	padding-top: 36px;
}

